@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #334863;
    --cor02: #1ABA7A;
    --cor03: #FA924B;
    --cor04: #5A84BB;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-destaque2: 'Roboto Condensed';
    --fonte-destaque3: 'Playfair Display SC'
}
body,html {
    background-color: white;
}

body img#fale {
    position: fixed;
    right: 3%;
    bottom: 3%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

header {
    background-color: var(--cor01);
    color: white;
}

header > div#top {
    background-color: var(--cor03);
    text-align: center;
}

header > div#top  a {
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}

header > div#top a:hover{
    padding: 8px;
    background-color: white;
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--cor03);
}

header > img {
    position: absolute;
    margin: auto;
    display: block;
}

header > i#burguer {
    background-color: var(--cor01);
    display: block;
    color: white;
    padding: 10px;
    font-size: 5em;
    text-align: right;
    cursor: pointer;
}

header > i#burguer:hover {
    background-color: var(--cor04);
}

header > menu {
    display: none;
}

header > menu > ul {
    list-style-type: none;
}

header > menu > ul > li > a {
    display: block;
    background-color: var(--cor01);
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-top: 2px solid var(--cor04);
}

header > menu > ul > li > a:hover {
    background-color: var(--cor04);
    font-weight: bold;
}

main{
    margin: 20px;
}

main > section#n7 > div > h1 {
    margin-bottom: 10px;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 2.5em;
    color: var(--cor01);
}

main > section#n7 > div > p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 5px;
}

main > section#n7 > div > a {
    display: block;
    margin: auto;
    padding: 8px;
    width: 300px;
    font-family: var(--fonte-destaque2);
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor02);
    color: white;
    border: 1px solid #4e9b7c;
    border-radius: 50px;
}

main > section#n7 > div > a:hover {
    background-color: #4e9b7c;
    color: white;
}

main > section#n7 > div > img {
    width: 70vw;
    display: block;
    padding-top: 5px;
    margin: auto;
}

main > section#servicos > h2 {
    margin: 10px;
    font-family: var(--fonte-padrao);
    font-size: 2em;
    text-align: center;
    color: #334863;
}

main > section#servicos > article > i#anterior {
    position: absolute;
    background-color: var(--cor01);
    left: 7%;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
} 

main > section#servicos > article > i#proximo {
    position: absolute;
    background-color: var(--cor01);
    right: 7%;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;

}

main > section#servicos > article.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

main > section#servicos > article.galeria > div.fotos {
    position: relative;
    overflow: hidden;
}

main > section#servicos > article.galeria > div.fotos > div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

main > section#servicos > article.galeria > div.fotos > div.ativa{
    opacity: 1;
}

/* main > section#servicos > article.galeria > div.fotos > div {
    display: block;
    margin: auto;
    width: 60vw;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    padding-bottom: 20px;
} */

main > section#servicos > article.galeria > div.fotos > div >img{
    width: 100%;
}

main > section#servicos > article.galeria > div.fotos > div > h3 {
    font-size: 1.4em;
    font-family: var(--fonte-padrao);
    text-align: center;
    margin: 8px;
}

main > section#servicos > article.galeria > div.fotos > div > p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

main > section#servicos > article.galeria > div.fotos > div > button {
    display: block;
    margin: 0px auto;
    width: 80%;
    height: 30px;
    background-color: var(--cor01);
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    border: 0px;
    
}

footer{
    background-color: var(--cor02);
    color: var(--cor01);
    text-align: center;
}