@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #334863;
    --cor02: #1ABA7A;
    --cor03: #FA924B;
    --cor04: #5A84BB;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-destaque2: 'Roboto Condensed';
    --fonte-destaque3: 'Playfair Display SC'
}
body,html {
    background-color: white;
}

body #fale {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

header {
    background-color: #334863;
    color: white;
}

header > div#top {
    background-color: var(--cor03);
    text-align: center;
}

header > div#top  a {
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    width: 100vw;
    color: white;
    cursor: pointer;
}

header > div#top a:hover{
    padding: 8px;
    background-color: white;
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--cor03);
}

header > img {
    display: inline-block;
}

header > i#burguer {
    background-color: var(--cor01);
    display: block;
    color: white;
    padding: 10px;
    font-size: 5em;
    text-align: center;
    cursor: pointer;
}

header > i#burguer:hover {
    background-color: var(--cor04);
}

header > menu {
    display: none;
}
header > menu > ul {
    list-style-type: none;
}

header > menu > ul > li > a {
    display: block;
    background-color: var(--cor01);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-top: 2px solid gray;
}

header > menu > ul > li > a:hover {
    background-color: var(--cor04);
    font-weight: bold;
}


footer{
    background-color: var(--cor02);
    color: var(--cor01);
    text-align: center;
}