@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #334863;
    --cor02: #568d8f;
    --cor03: #66590F;
    --cor04: #5A84BB;
    --cor05: #EB9F10;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-destaque2: 'Roboto Condensed';
    --fonte-destaque3: 'Playfair Display SC'
}
body,html {

}

body #fale {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

header {
    background-color: #334863;
    color: white;
}